#a {
  background-color: palegoldenrod;
  width: 480px;
  height: 75px;
}

#b {
  background-color: palegoldenrod;
  width: 480px;
  height: 150px;
}

#c {
  background-color: palegreen;
  width: 480px;
  height: 125px;
}

#d {
  background-color: paleturquoise;
  width: 480px;
  height: 125px;
}

#e {
  background-color: palevioletred;
  width: 235px;
  height: 250px;
}

#f {
  background-color: papayawhip;
  width: 240px;
  height: 250px;
}

#g {
  background-color: peachpuff;
  width: 240px;
  height: 250px;
}

#h {
  background-color: pink;
  width: 240px;
  height: 250px;
}

#i {
  background-color: plum;
  width: 480px;
  height: 80px;
}